/* ----------Mobile devices-------------- */
@media screen and (max-width:576px) {
    header{
        margin: 2.5rem 1.5rem;
    }
    nav,
    .nav-content ul
    {
        flex-direction: column;
        gap: 1.5rem;
    }
    nav h3{
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 2rem;
        margin: 2.5rem 1.5rem;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .partner{
        margin: 2.5rem 1.5rem;
        flex-wrap: wrap;
        gap: 2rem;
    }

}


/* -------------Medium devices ----------------- */
@media screen and (min-width:577px) and   (max-width:768px) {
    header{
        margin: 2.5rem 2.5rem;
    }
    nav,
    .nav-content ul
    {
        flex-direction: column;
        gap: 1.5rem;
    }
    nav h3{
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 2rem;
        margin: 2.5rem 2.5rem;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .partner{
        margin: 2.5rem 2.5rem;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
